<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">すべて</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home/restaurant">飲食店</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home/cafe">カフェ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="home/leisure">レジャー</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="home/beauty">ビューティー</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="home/hotel">ホテル</a>
  </li>
</ul>
	

	<!--<div class="post center-vertical">-->
		<div class="album py-5 bg-light">
    		<div class="container">
    			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<% if !@userposts.empty? %>
						<% @userposts.each do |userpost| %>
						        <div class="col">
						        	<div class="card shadow-sm">
						        		<div class="card-header">
						        			<p class="card-text"><%= User.find_by(id: userpost.user_id).name %></p>
						        		</div>
						            <img class="bd-placeholder-img card-img-top" width="100%" height="225"  src="<%= userpost["img"] %>"><rect width="100%" height="100%" fill="#55595c"/>
						
								          <div class="card-body">
								              <p class="card-text">お店の名前: <%= userpost["shopname"] %></p><br>
								              <p class="card-text">ジャンル: <%= userpost["category"] %></p><br>
								              <p class="card-text">評価: <%= userpost["assessment"] %></p><br>
								              <p class="card-text"><a href="<%= userpost["shopurl"] %>">URL</a></p><br>
								              <p class="card-text">コメント: <%= userpost["comment"] %></p><br>
								              <form action="/post/<%= userpost.id %>/comment" method="post">
								              	<textarea name="comment_content" cols="30" placeholder="コメントをする"></textarea>
								              	<input type="submit" value="投稿"><br>
								              </form>
								              <a class="card-text" href="/post/<%= userpost.id %>/detail">投稿を見る</a>
											  <% if !current_user.nil? %>
											  	<% if !userpost.favorite_users.find_by(id: session[:user]) %>
									              <div class="d-flex justify-content-between align-items-center">
									                <div class="btn-group">
									                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/post/<%= userpost.id %>/like">いいねする</a></button>
									                 </div>
									              </div>
									            <% else %>
									              <div class="d-flex justify-content-between align-items-center">
									                <div class="btn-group">
									                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/post/<%= userpost.id %>/like_del">削除</a></button>
									                </div>
									              </div>
									             <% end %>
									           <% end %>
									           <% unless current_user.relationships.find_by(followed_id: userpost.user_id ) %>
												    <a href="/home/<%= userpost.user_id %>/follow">フォローする</a>
											   <% else %>
												    <a href="/home/<%= userpost.user_id %>/follow_del">フォロー解除</a>
											   <% end %>
						            		</div>
						          		</div>
						        	</div>
							<% end %>
				</div>
			</div>
		</div>
	<!--</div>-->
			<% else %>
			<p>投稿がありません</p>
			<% end %>

