<section class="center-vertical">
	<h1>最新の投稿</h1>

	<div class="post center-vertical">
		<% if !@userposts.empty? %>
			<% @userposts.each do |userpost| %>
				<p>お店の名前: <%= userpost["shopname"] %></p>
				<img src="<%= userpost["img"] %>" width="125" height="125">
				<p>ジャンル: <%= userpost["category"] %></p>
				<p>評価: <%= userpost["assessment"] %></p>
				<p><a href="<%= userpost["shopurl"] %>">URL</a></p>
				<p>コメント: <%= userpost["comment"] %></p>
				<p>投稿者: <%= User.find_by(id: userpost.user_id).name %></p>
				<% unless current_user.relationships.find_by(followed_id: userpost.user_id ) %>
				    <a href="/home/<%= userpost.user_id %>/follow">フォローする</a>
				<% else %>
				    <a href="/home/<%= userpost.user_id %>/follow_del">フォロー解除</a>
				<% end %>
				<p>いいねしたユーザー</p>
				<% userpost.favorite_users.each do |favorite_user| %>
					<div class="user-box">
						<img src="<%= favorite_user.icon %>" alt="user_image" width="40", height="40">
					</div>
				<% end %>
					<% if !current_user.nil? %>
						<% if !userpost.favorite_users.find_by(id: session[:user]) %>
							<a href="/post/<%= userpost.id %>/like">いいねする</a>
						<% else %>
							<a href="/post/<%= userpost.id %>/like_del">削除</a>
						<% end%>
					<% end %>
			<% end %>
	</div>
	<% else %>
	<p>投稿がありません</p>
	<% end %>
</section>
