<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link category_text" href="../home">すべて</a>
  </li>
  <li class="nav-item">
    <a class="nav-link category_text" href="../home/restaurant">飲食店</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active category_text" aria-current="page" href="../home/cafe">カフェ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link category_text" href="../home/leisure">レジャー</a>
  </li>
  <li class="nav-item">
    <a class="nav-link category_text" href="../home/beauty">ビューティー</a>
  </li>
  <li class="nav-item">
    <a class="nav-link category_text" href="../home/hotel">ホテル</a>
  </li>
</ul>
	

	<!--<div class="post center-vertical">-->
		<div class="album py-5">
    		<div class="container">
    			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<% if !@userposts.empty? %>
						<% @userposts.each do |userpost| %>
						        <div class="col">
						        	<div class="card shadow-sm">
						        		<div class="card-header">
						        			<div class="row">
						        			<p class="card-text col"><%= User.find_by(id: userpost.user_id).name %></p>
						        			<% unless current_user.relationships.find_by(followed_id: userpost.user_id ) %>
												    		<a class="col follow" href="/home/<%= userpost.user_id %>/follow"><i class="fa fa-user-plus"></i></a>
											   	<% else %>
												    		<a  class="col follow" href="/home/<%= userpost.user_id %>/follow_del"><i class="fa fa-user-minus"></i></a>
												  <% end %>
												  </div>
						        		</div>
						            <img class="bd-placeholder-img card-img-top" width="100%" height="225"  src="<%= userpost["img"] %>"><rect width="100%" height="100%" fill="#55595c"/>
						
								          <div class="card-body">
								          	<div class="row">
								              <p class="card-text col"><%= userpost["shopname"] %></p>
								              <p class="card-text col"><%= userpost["category"] %></p><br>
								            </div>
								              <p class="card-text">評価: <%= userpost["assessment"] %></p><br>
								              <p class="card-text"><a class="post_text" href="<%= userpost["shopurl"] %>">サイトへ</a></p><br>
								              <p class="card-text"><%= userpost["comment"] %></p><br>
								              <form action="/post/<%= userpost.id %>/comment" method="post">
								              	<textarea name="comment_content" cols="30" placeholder="コメントをする"></textarea>
								              	<button type="submit" class="w-10 h-25 btn btn-lg" style="background-color: #393073; color: white;" >投稿</button>
								              </form>
								              <a class="card-text post_text" href="/post/<%= userpost.id %>/detail">投稿を見る</a>
											  <% if !current_user.nil? %>
											  	<% if !userpost.favorite_users.find_by(id: session[:user]) %>
									              <div class="d-flex justify-content-between align-items-center">
									                <div class="btn-group">
									                  <button type="button" class="btn-sm favorite_button"><a href="/post/<%= userpost.id %>/like"><i class="far fa-heart text-muted"></i></a></button>
									                 </div>
									              </div>
									            <% else %>
									              <div class="d-flex justify-content-between align-items-center">
									                <div class="btn-group">
									                  <button type="button" class=" btn-sm favorite_button"><a class="favorite" href="/post/<%= userpost.id %>/like_del"><i class="fas fa-heart"></i></a></button>
									                </div>
									              </div>
									             <% end %>
									           <% end %>
						            		</div>
						          		</div>
						        	</div>
							<% end %>
				</div>
			</div>
		</div>
	<!--</div>-->
			<% else %>
			<p>投稿がありません</p>
			<% end %>

