<section class="center-vertical">
	<h1><%= current_user.name %>の投稿</h1>
	<div class="post center-vertical">
	<% if !@useridmusics.empty? %>
			<% @useridmusics.each do |useridmusic| %>
				<img src="<%= useridmusic["img"] %>" width="125" height="125">
				<p>アーティスト: <%= useridmusic["artist"] %></p>
				<p>アルバム: <%= useridmusic["album"] %></p>
				<p>曲名: <%= useridmusic["name"] %></p>
				<p><a href="<%= useridmusic["sample"] %>">サンプル</a></p>
				<p>コメント: <%= useridmusic["comment"] %></p>
				<p>投稿者: <%= User.find_by(id: useridmusic.user_id).name %></p>
				<p>いいねしたユーザー</p>
				<div class="user-box">
					<img src="" alt="user_image" width="40" height="40">
				</div>
				<a href="/post/<%= useridmusic.id %>/edit">編集</a>
				<a href="/post/<%= useridmusic.id %>/del">削除</a>
			<% end %>
	</div>
	<% else %>
	<%# TODO: ここで分岐 %>
	<p>投稿がありません</p>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のイイねした投稿</h1>
	<div class="post center-vertical">
		<% if !@favorites.empty? %>
			<% @favorites.each do |favorite| %>
				<img src="<%= favorite["img"] %>" width="125" height="125">
				<p>アーティスト: <%= favorite["artist"] %></p>
				<p>アルバム: <%= favorite["album"] %></p>
				<p>曲名: <%= favorite["name"] %></p>
				<p><a href="<%= favorite["sample"] %>">サンプル</a></p>
				<p>コメント: <%= favorite["comment"] %></p>
				<p>投稿者: <%= User.find_by(id: favorite.user_id).name %></p>
				<p>いいねしたユーザー</p>
				<% favorite.favorite_users.each do |favorite_user| %>
					<div class="user-box">
						<img src="<%= favorite_user.icon%>" alt="user_image" width="40" height="40">
					</div>
				<% end %>
			<% end %>
	</div>
	<% else %>
	<p>イイねがありません</p>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のフォロー</h1>
	<a href="#">フォロー解除</a><br>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のフォロワー</h1>
</section>
