<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% if current_user.nil? %>
	<div class="login_button">
		<div class="container">
		<form action="/signin" method="post">
		    <input type="text" name="name" placeholder="ユーザー名"><br>
		    <input type="password" name="password" placeholder="パスワード"><br>
		    <input type="submit" value="Sign in">
		</form>
		</div>
	</div>
	<% end %>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>

	<div class="post center-vertical">
		<% if !@usermusics.empty? %>
			<% @usermusics.each do |usermusic| %>
				<img src="<%= usermusic["img"] %>" width="125" height="125">
				<p>アーティスト: <%= usermusic["artist"] %></p>
				<p>アルバム: <%= usermusic["album"] %></p>
				<p>曲名: <%= usermusic["name"] %></p>
				<p><a href="<%= usermusic["sample"] %>">サンプル</a></p>
				<p>コメント: <%= usermusic["comment"] %></p>
				<p>投稿者: <%= User.find_by(id: usermusic.user_id).name %></p>
				<a href="#">フォローする</a>
				<a href="#">フォロー解除</a>
				<p>いいねしたユーザー</p>
				<% usermusic.favorite_users.each do |favorite_user| %>
					<div class="user-box">
						<img src="<%= favorite_user.icon %>" alt="user_image" width="40", height="40">
					</div>
				<% end %>
					<% if !current_user.nil? %>
						<% if !usermusic.favorite_users.find_by(id: session[:user]) %>
							<a href="/post/<%= usermusic.id %>/like">いいねする</a>
						<% else %>
							<a href="/post/<%= usermusic.id %>/like_del">削除</a>
						<% end%>
					<% end %>
			<% end %>
	</div>
	<% else %>
	<%# TODO: ここで分岐 %>
	<p>投稿がありません</p>
	<% end %>
</section>
