<!--<section class="center-vertical">
	<h1><%= current_user.name %>の投稿</h1>
	<div class="post center-vertical">
	<% if !@useridposts.empty? %>
			<% @useridposts.each do |useridpost| %>
				<p>お店の名前: <%= useridpost["shopname"] %></p>
				<img src="<%= useridpost["img"] %>" width="125" height="125">
				<p>ジャンル: <%= useridpost["category"] %></p>
				<p>評価: <%= useridpost["assessment"] %></p>
				<p><a href="<%= useridpost["shopurl"] %>">URL</a></p>
				<p>コメント: <%= useridpost["comment"] %></p>
				<p>投稿者: <%= User.find_by(id: useridpost.user_id).name %></p>
				<p>いいねしたユーザー</p>
				<div class="user-box">
					<img src="" alt="user_image" width="40" height="40">
				</div>
				<a href="/post/<%= useridpost.id %>/edit">編集</a>
				<a href="/post/<%= useridpost.id %>/del">削除</a>
			<% end %>
	</div>
	<% else %>
	<p>投稿がありません</p>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のイイねした投稿</h1>
	<div class="post center-vertical">
		<% if !@favorites.empty? %>
			<% @favorites.each do |favorite| %>
				<p>お店の名前: <%= favorite["shopname"] %></p>
				<img src="<%= favorite["img"] %>" width="125" height="125">
				<p>ジャンル: <%= favorite["category"] %></p>
				<p>評価: <%= favorite["assessment"] %></p>
				<p><a href="<%= favorite["shopurl"] %>">URL</a></p>
				<p>コメント: <%= favorite["comment"] %></p>
				<p>投稿者: <%= User.find_by(id: favorite.user_id).name %></p>
				<p>いいねしたユーザー</p>
				<% favorite.favorite_users.each do |favorite_user| %>
					<div class="user-box">
						<img src="<%= favorite_user.icon%>" alt="user_image" width="40" height="40">
					</div>
				<% end %>
			<% end %>
	</div>
	<% else %>
	<p>イイねがありません</p>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のフォロー</h1>
	<% current_user.relationships.each do |relationship| %>
	<p><%= User.find(relationship.followed_id).name %></p>
	<a href="/home/<%= current_user.id %>/follow_del">フォロー解除</a><br>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のフォロワー</h1>
	<% unless Relationship.find_by(followed_id: session[:user]).nil? %>
		<% Relationship.where(followed_id: session[:user]).each do |relationship| %>
			<p><%= User.find(relationship.follower_id).name %></p>
		<% end %>
	<% end %>
</section>
-->

<div class="container">
	<div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="<%= User.find_by(id: current_user).icon %>">
        <h2><%= User.find_by(id: current_user).name %></h2>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
      	<p>自己紹介文が入力されていません</p><br>
      	<a href="mypage/:id/following"><strong>フォロー</strong></a>
      	<a href="mypage/:id/follower"><strong>フォロワー</strong></a>
      </div>
      
      <div class-"col-lg-4">
      	<!--編集用リンクを作る-->
      </div>
      	
      
    </div><!-- /.row -->
   </div>
   
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">自分の投稿</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../mypage/favorite">いいねした投稿</a>
  </li>
</ul>

		<div class="album py-5 bg-light">
    		<div class="container">
    			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<% if !@useridposts.empty? %>
						<% @useridposts.each do |useridpost| %>
						        <div class="col">
						        	<div class="card shadow-sm">
						            <img class="bd-placeholder-img card-img-top" width="100%" height="225"  src="<%= useridpost["img"] %>"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
						
								        <div class="card-body">
								              <p class="card-text">お店の名前: <%= useridpost["shopname"] %></p><br>
								              <p class="card-text">ジャンル: <%= useridpost["category"] %></p><br>
								              <p class="card-text">評価: <%= useridpost["assessment"] %></p><br>
								              <p class="card-text"><a href="<%= useridpost["shopurl"] %>">URL</a></p><br>
								              <p class="card-text">コメント: <%= useridpost["comment"] %></p><br>
										</div>
						          		</div>
						        	</div>
						<% end %>
				</div>
			</div>
		</div>
	<!--</div>-->
			<% else %>
			<p>投稿がありません</p>
			<% end %>


