<div class="container">
						        	<div class="card shadow-sm card_detail">
						        		<div class="card-header">
						        			<p class="card-text"><%= User.find_by(id: @detail.user_id).name %></p>
						        		</div>
						            <img class="bd-placeholder-img card-img-top detail_img" src="<%= @detail["img"] %>"><rect width="100%" height="100%" fill="#55595c"/>
						
								          <div class="card-body">
								              <p class="card-text">お店の名前: <%= @detail["shopname"] %></p><br>
								              <p class="card-text">ジャンル: <%= @detail["category"] %></p><br>
								              <p class="card-text">評価: <%= @detail["assessment"] %></p><br>
								              <p class="card-text"><a class="post_text" href="<%= @detail["shopurl"] %>">サイトへ</a></p><br>
								              <p class="card-text"><%= @detail["comment"] %></p><br>
								              <form action="/post/<%= @detail.id %>/comment" method="post">
								              	<textarea name="comment_content" cols="30" placeholder="コメントをする"></textarea>
								              	<button type="submit" class="w-10 h-auto btn btn-lg" style="background-color: #393073; color: white;" >投稿</button>
								              </form>
											   <% if !current_user.nil? %>
											  	<% if !@detail.favorite_users.find_by(id: session[:user]) %>
									              <div class="d-flex justify-content-between align-items-center">
									                <div class="btn-group">
									                  <button type="button" class="btn-sm favorite_button"><a href="/post/<%= @detail.id %>/like"><i class="far fa-heart text-muted"></i></a></button>
									                 </div>
									              </div>
									            <% else %>
									              <div class="d-flex justify-content-between align-items-center">
									                <div class="btn-group">
									                  <button type="button" class=" btn-sm favorite_button"><a class="favorite" href="/post/<%= @detail.id %>/like_del"><i class="fas fa-heart"></i></a></button>
									                </div>
									              </div>
									             <% end %>
									           <% end %>
									           <% unless current_user.relationships.find_by(followed_id: @detail.user_id ) %>
												    <a class="post_text" href="/home/<%= @detail.user_id %>/follow">フォローする</a>
											   <% else %>
												    <a class=""post_text href="/home/<%= @detail.user_id %>/follow_del">フォロー解除</a>
											   <% end %>
											   <% unless !Comment.find_by(post_id: @detail.id) %>
											       <% @detail.comments.each do |content| %>
											       	<div class="row my-3">
											       	   <img class="rounded-circle col-2" width="100px" height="100px" src="<%= User.find(content.user_id).icon %>">
											       	   <p class="card-text col-2">ユーザー名 <%= User.find(content.user_id).name %></p>
											           <p class="card-text col-8 my-4"><%= content["comment_content"] %></p><br>
											        </div>
											       <% end %>
											   <% else %>
											       まだコメントがありません
											   <% end %>
						            		</div>
						          		</div>
						        	</div>
				