<section class="center-vertical">
	<h1>検索フォーム</h1>
	<form action="/search" method="get">
		<input type="text" name="keyword" placeholder="キーワード">
		<input type="submit" value="検索">
	</form>
	<h2>検索結果</h2>
	
	
				<div class="post center-vertical">
		
		
					<% if !@musics.empty? %>
					<% @musics.each do |music| %>
					<div class="post center-vertical">
						<img src="<%= music["artworkUrl100"] %>" width="125" height="125">
						<p>アーティスト: <%= music["artistName"] %></p>
						<p>アルバム: <%= music["collectionName"] %></p>
						<p>曲名: <%= music["trackName"] %></p>
						<p><a href="<%= music["previewUrl"] %>">サンプル</a></p>
						<form action="/post" method="post">
							<input type="hidden" value="<%= music["artworkUrl100"] %>" name="img">
							<input type="hidden" value="<%= music["artistName"] %>" name="artist">
							<input type="hidden" value="<%= music["collectionName"] %>" name="album">
							<input type="hidden" value="<%= music["trackName"] %>" name="name">
							<input type="hidden" value="<%= music["previewUrl"] %>" name="sample">
							<input type="text" name="comment" placeholder="コメント">
							<input type="submit" value="投稿">
						</form>
						<% end %>
					</div>

				</div>
					<% else %>
					<%# TODO: 検索結果によって分岐 %>
					<p>検索結果がありません</p>
					<% end %>

</section>
